<div id="candid"></div>
<%= content_for :javascript do %>
  $(document).ready(function(){
    Candid.initialize({ events: [{title: "Awesome Event", description: 'have a great time at this event',
                                  start_date: '2013-03-12 12:00:00', end_date: '2013-03-12 14:00:00',
                                  location: 'At your house'},
                                 {title: "Great Event", description: 'laugh it up little guy',
                                  start_date: '2013-03-13 14:00:00', end_date: '2013-03-13 15:00:00',
                                  location: 'At my place'}] });
  });
<% end -%>
