.calendar {
  text-align: center;
}
ul.week {
  border: 1px solid $grey;
  display:inline-block;
  >li {
    display: inline-block;
    width:140px;
  }
}

li.day {
  border-left:1px solid $grey;
  vertical-align: top;
  .heading {
    height:40px;
    h3 {
      font-weight: normal;
      font-size: 14px;
      line-height: 30px;
      text-align: left;
      margin: 0 0 0 5px;
    }
  }
  &:first-child {
    border:0;
  }
}

ul.hours li {
  height:50px;
  border-top: 1px solid $grey;
}