.message-box {
  display:none;
  position:absolute;
  top:20px;
  left:255px;
  border:solid 3px #6b6b6b;
  z-index:500;
  @include border-radius(3px);
  @include box-shadow(#ccc 0 1px 3px);
  outline: 0;
  div {
    padding:0.75em;
    margin:0;
    color:$base_text_colour;
  }
  .close {
    margin:0.25em 0.25em 0 0;
  }
}

.notice {
  background-color:#D1EED1;
  color:$notice_colour;
  width: 500px;
  @include border-radius(3px);
}

.alert, #error_explanation {
  background-color: #fddfde;
  width: 500px;
  @include border-radius(3px);
}

.alert h2, #error_explanation h2 {
  text-align: left;
  font-size: 1em;
  margin: -0.7em;
  color: $error_colour;
  font-weight:bold;
}

.alert ul li, #error_explanation ul li {
  list-style: disc;
}