<div class="arrow"></div>
<div class="popover-inner">
  <h3 class="popover-title">New Calendar Entry</h3>
  <div id="entry_form" class="popover-content">
    <div class="input string optional">
      <label class="string optional" for="title">Title</label>
      <input autofocus="autofocus" class="string optional" maxlength="255" name="title" size="50" type="text">
    </div>
    <div class="input text optional">
      <label class="text optional" for="details">Details</label>
      <textarea class="text optional" cols="40" id="details" name="details" rows="3"></textarea>
    </div>
    
    <div class="actions">
      <input class="button btn btn-primary" name="commit" type="submit" value="Done">
    </div>
  </div>
</div>