
<div class="controls">
  <a href="#" class="previous"><i class="icon-caret-left"></i></a>
  <a href="#" class="today"><i class="icon-home"></i> Today</a>
  <a href="#" class="next"><i class="icon-caret-right"></i></a>
</div>
<h3><span class="start-date"></span> - <span class="end-date"></span></h3>
<div class="week">
  <ul class="day-headings unstyled"></ul>
  <ul class="days unstyled"></ul>
</div>